<!-- <footer class="container"> 
    <div class="bg-dark text-light text-center p-2">
        <p>Konak Tır Parkı &copy;. Tüm Hakları Saklıdır. İletişim için 0532 446 74 89.</p>
    </div>
</footer> -->
</body>
</html>