<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Konak Tır Parkı Yönetim Paneli</title>
    <!-- Font ve Iconlar -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Open+Sans|PT+Sans|Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- Moment JS -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js"></script>
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard">Gebze Konak Tır Parkı</a>
        <input class="form-control form-control-dark w-100" id="myInput" type="text" placeholder="Ara..." aria-label="Search" onkeyup="araFunc()">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <!-- <a class="nav-link" href="/profile">Merhaba <%= currentUser.firstName %></a> -->
                <a class="nav-link" href="/logout">Sistem Çıkış</a>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" id="tuncay">
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">
                                <i class="fas fa-home"></i> Ana Sayfa <!-- <span class="sr-only">(current)</span> -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/report">
                                <i class="fas fa-file"></i> Rapor
                            </a>
                        </li>
                        <% if(currentUser && currentUser.isAdmin){ %>
                            <li class="nav-item active">
                                <a class="nav-link" href="/account">
                                    <i class="fas fa-cart-arrow-down"></i>
                                    Cari Hesap
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/capacity">
                                    <i class="fas fa-warehouse"></i>
                                    Kapasite
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users">
                                    <i class="fas fa-users"></i>
                                    Kullanıcılar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">
                                    <i class="fas fa-user-md"></i>
                                    Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/settings">
                                    <i class="fas fa-cogs"></i>
                                    Ayarlar
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            </div>