<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">

<form class="form-signin text-center" action="/signin" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>
    
    <label for="inputusername" class="sr-only">Kullanıcı Adı</label>
    <input type="text" id="inputusername" name="username" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
    
    <label for="inputPassword" class="sr-only">Şifreniz</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Şifreniz" required>
    
    <button class="btn btn-lg btn-danger btn-block" type="submit">Giriş Yap</button>
</form>

<% include partials/foot %>
