<% include ../partials/head %>

<div class="container">
    <h1 class="mt-3 mb-3">Hakkımızda</h1>
    <div class="row mb-5 border-bottom pb-5">
        <div class="col-sm-4">
            <img src="imgs/konak-park-4.jpg" width="100%" alt="">
        </div>
        <div class="col sm-8">
            <h2 class="h5">Geçmişimiz</h2>
            <p class="text-justify">2011 Yılından itibaren hizmetlerini sürdüren Gebze Konak Tır Parkı, 35.000 m<sup>2</sup> (metrekare) alanı ve yaklaşık olarak 500 araçlık kapasitesi ile bölgedeki en büyük tır parkıdır. Büyüklüğünün yanı sıra konumu ile Gebze Bölgesinin kalbinde ve firmalara olan yakınlığı ile tercih sebebi haline gelen Gebze Konak Tır Parkı aynı zamanda 60 tonluk kantarı, teknik hizmetleri ve 7 gün 24 saat verdiği hizmet ile de göz doldurmaktadır. </p>
        </div>
    </div>
    <div class="row mb-5 border-bottom pb-5">
        <div class="col-sm-8">
            <h2 class="h5">Vizyonumuz</h2>
            <p class="text-justify">2011 Yılından itibaren hizmetlerini sürdüren Gebze Konak Tır Parkı, 35.000 m<sup>2</sup> (metrekare) alanı ve yaklaşık olarak 500 araçlık kapasitesi ile bölgedeki en büyük tır parkıdır. Büyüklüğünün yanı sıra konumu ile Gebze Bölgesinin kalbinde ve firmalara olan yakınlığı ile tercih sebebi haline gelen Gebze Konak Tır Parkı aynı zamanda 60 tonluk kantarı, teknik hizmetleri ve 7 gün 24 saat verdiği hizmet ile de göz doldurmaktadır. </p>
        </div>
        <div class="col-sm-4">
            <img src="imgs/konak-restoran-2.jpg" width="100%" alt="">
        </div>
    </div>
    <div class="row mb-5 border-bottom pb-5">
        <div class="col-sm-4">
            <img src="imgs/konak-park-2.jpg" width="100%" alt="">
        </div>
        <div class="col sm-8">
            <h2 class="h5">Misyonumuz</h2>
            <p class="text-justify">2011 Yılından itibaren hizmetlerini sürdüren Gebze Konak Tır Parkı, 35.000 m<sup>2</sup> (metrekare) alanı ve yaklaşık olarak 500 araçlık kapasitesi ile bölgedeki en büyük tır parkıdır. Büyüklüğünün yanı sıra konumu ile Gebze Bölgesinin kalbinde ve firmalara olan yakınlığı ile tercih sebebi haline gelen Gebze Konak Tır Parkı aynı zamanda 60 tonluk kantarı, teknik hizmetleri ve 7 gün 24 saat verdiği hizmet ile de göz doldurmaktadır. </p>
        </div>
    </div>
</div>

<% include ../partials/foot %>