<% include ../partials/head %>
<div class="container">
    <h1 class="mt-3 mb-3">Hizmetlerimiz</h1>
    <p>Gebze Konak Tır Parkı 7/24 hizmet veren bir işletmedir. İşletmemizde yer alan hizmetlerden başlıcaları:</p>
        <div class="row">
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-utensils"></i> Restoran</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-shower"></i> Duş</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-restroom"></i> WC</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-shield-alt"></i> Güvenlik</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-folder"></i> Gümrük</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-weight"></i> Kantar</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-wifi"></i> İnternet</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-truck-monster"></i> Lastik Tamiri</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-tachometer-alt"></i> Takograf</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-bolt"></i> Elektrik</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-cut"></i> Kuaför</h5>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-store"></i> Market</h5>
                    </div>
                </div>
            </div>
            </div>
            
    </div>
    <% include ../partials/foot %>